src/WebApplication1/WebApplication1/Connected Services/ServiceReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:19190/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" />
  <xs:import schemaLocation="http://localhost:19190/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BDConection.Dto.Common" />
  <xs:element name="isValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserLogin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" minOccurs="0" name="isValidResult" nillable="true" type="q1:isValidResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" minOccurs="0" name="GetUsersResult" nillable="true" type="q2:GetUsersResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BDConection.Dto.Common" minOccurs="0" name="user" nillable="true" type="q3:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" minOccurs="0" name="SaveUserResult" nillable="true" type="q4:BasicResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePaysheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GeneratePaysheetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" minOccurs="0" name="GeneratePaysheetsResult" nillable="true" type="q5:BasicResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaySheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Userid" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaySheetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" minOccurs="0" name="GetPaySheetsResult" nillable="true" type="q6:GetPaySheetsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaySheetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaySheetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" minOccurs="0" name="GetPaySheetByIdResult" nillable="true" type="q7:GetPaySheetsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>