src/WebApplication1/WebApplication1/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:19190/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:19190/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:19190/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BDConection.Dto.Response" />
      <xsd:import schemaLocation="http://localhost:19190/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BDConection.Dto.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_isValid_InputMessage">
    <wsdl:part name="parameters" element="tns:isValid" />
  </wsdl:message>
  <wsdl:message name="IService1_isValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:isValidResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveUser" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GeneratePaysheets_InputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePaysheets" />
  </wsdl:message>
  <wsdl:message name="IService1_GeneratePaysheets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GeneratePaysheetsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPaySheets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaySheets" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPaySheets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaySheetsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPaySheetById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaySheetById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPaySheetById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaySheetByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="isValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/isValid" message="tns:IService1_isValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/isValidResponse" message="tns:IService1_isValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetUsers" message="tns:IService1_GetUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetUsersResponse" message="tns:IService1_GetUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveUser" message="tns:IService1_SaveUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveUserResponse" message="tns:IService1_SaveUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GeneratePaysheets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GeneratePaysheets" message="tns:IService1_GeneratePaysheets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GeneratePaysheetsResponse" message="tns:IService1_GeneratePaysheets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaySheets">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPaySheets" message="tns:IService1_GetPaySheets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPaySheetsResponse" message="tns:IService1_GetPaySheets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaySheetById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPaySheetById" message="tns:IService1_GetPaySheetById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPaySheetByIdResponse" message="tns:IService1_GetPaySheetById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="isValid">
      <soap:operation soapAction="http://tempuri.org/IService1/isValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveUser">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneratePaysheets">
      <soap:operation soapAction="http://tempuri.org/IService1/GeneratePaysheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaySheets">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPaySheets" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaySheetById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPaySheetById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:19190/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>